.header {
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%;
  height: 7.5vh;
  background-color: white; 
  z-index: 1000; 
  align-content: center;
  }

.active {
  background-color: #5b5963;
  color: white; 
  padding: 5px 10px; 
  border-radius: 5px;
}


nav {
  height: 100%;
  align-content: center;
}

.header nav ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header nav ul li {
  margin: 0 5vh;

}

.header nav ul li a {
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.325vh;
  color: #5b5963;
  text-transform: uppercase;
}

.header nav ul li.active a {
  background: rgba(0, 0, 0, 0.79);
  color: #fff;
  outline: 0 none;
  background-color: #5b5963;
}

.header nav ul li:hover a {
  background: rgba(0, 0, 0, 0.79);
  color: #fff;
  outline: 0 none;
  background-color: #5b5963;
}

.header nav ul .align-left {
  margin-right: auto;
  margin-left: 4vh;
}

.align-left:hover {
  background-color: white;
  color: #5b5963;
}

@media (max-width: 1440px) {

  .header nav ul li {
    margin-right: 4.75vh;
  }

  .header nav ul li a {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {

  .header nav ul li {
    margin: 0 4vh;
  }

  .header nav ul li a {
    font-size: 11px;
    letter-spacing: 0.3vh;
  }

  .header nav ul .align-left {
    margin-left: 3vh;
  }
}

@media (max-width: 768px) {

  .header nav ul {
    justify-content: center;
  }

  .header nav ul li {
    margin: 0 2vh; 
  }

  .header nav ul li a {
    font-size: 10px; 
    letter-spacing: 0.25vh;
  }

  .header nav ul .align-left {
    margin-left: 2vh; 
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .header {
    height: 12.5vh;
  }

  .header nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header nav ul li {
    margin: 0.05vh 0;
  }

  .header nav ul li a {
    font-size: 85%;
    letter-spacing: 0.2vh;
  }

  .header nav ul .align-left {
    margin: 0;
  }

  .header nav ul li.active a,
  .header nav ul li:hover a {
    padding: 4px 8px; 
    border-radius: 4px;
  }
}

